name: cd 
on:
  push:
    branches: [main]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: build image and push to docker hub
        uses: docker/bake-action@v4
        with:
          username: vagnerfls
          password: ${{ secret.DOCKER_PASSWORD }}
          repository: vagnerfls/argocd
          tags: $({ github.sha }), latest
        